a {
    text-decoration: none;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    border-bottom: 1px solid;
    background: rgb(150, 153, 160);
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.main {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.lorem_text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.two_head {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}